<div id="push_down" class="pusher">
  <div class="ui main text container">
    <div class="two wide column"></div>
    <div class="ui right centered grid" id="push_down_content">
      <div class="ui items">
        <div class="item">
          <a class="ui tiny image">
            <%= image_tag("reviewer.png") %>
          </a>
          <div class="content">
            <a class="header">Hi, <%=@professional.name%>!</a>
            <div class="description">
              Your last login was on xxx
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui horizontal divider">Welcome back!</div>
  </div>
</div>
