// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signup_header {
  color: white;
}

#push_down {
  margin-top: 100px;
}

#tree {
  width: 350px;
  height: 230px;
}

#push_down_categories {
  margin-top: 40px;
  margin-bottom: 50px;
}

#push_down_content {
  margin-top: 30px
}

#edit_user_form{
  margin-bottom: 50px
}

#login {
  margin-top: 8px;
}

.radio label{
  color: black !important;
  padding: 8px;
}

.center_list{
  margin-left: 70px !important;
}

.numbers {
  font-weight: 900;
}

.list {
  margin: 0 auto;
}

.margin-top {
  margin-top: 30px;
}
